// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f8c4b;
  border-bottom: 2px solid black;
  height: 75px;
  width: 100%;
}

.header .redirect-button {
  font-family: 'Nothing You Could Do', cursive;
  height: 34px;
  text-align: center;
  width: auto;
  min-width: 100px;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 5px;
}

.header .redirect-button:hover {
  cursor: pointer;
}

.header p {
  font-family: 'Nothing You Could Do', cursive;
  align-self: flex-end;
}

.header .name-logo {
  display: flex;
}


h1 {
  font-family: 'Nothing You Could Do', cursive;
  margin: 10px;
}

.welcome {
  text-align: center;
  color: green;
}

.auth-form {
  display:  flex;
  flex-direction: column;
  align-items: center;
}


.auth-form .text {
  display: flex;
  width: 300px;
  height: 25px;
  margin: 5px;
  align-items: center;
}

.form-container span {
  font-family: sans-serif;
  font-size: 14px;
  color: red;
}
.auth-form .text-error {
  display: flex;
  width: 300px;
  height: 25px;
  margin: 5px;
  align-items: center;
  background: rgba(255,0,0,0.3);
}

.form-container h1 {
  border-bottom: 2px solid black;
}

.auth-form .text::placeholder {
  font-size: 10px;
  font-style: oblique;
}

.auth-form .submit {
  margin: 10px;
  width: 50px;
  font-family: 'Nothing You Could Do', cursive;
  height: 34px;
  text-align: center;
  width: auto;
  min-width: 75px;
  border-radius: 10px;
  font-size: 20px;

}

.auth-form .submit:hover {
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.alt-link {
  font-family: sans-serif, italic;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: #2f8c4b;
}

.list-nav span, li {
  font-family: 'Nothing You Could Do', cursive;
}

.list-nav span:hover {
  cursor: pointer;
  user-select: none;
}
